html{
    scroll-behavior: smooth;
    font-family:'Montserrat', sans-serif;

}
*{
    font-family: 'Montserrat';
}
#mainnav {
    background-color: #23395d;
    letter-spacing: 2px;
    position:fixed;
    width:100%;
    overflow: hidden;
    z-index: 500;
    height:60px;
    box-shadow: 5px;
    

}

#nav-link{
    color: #F7F5F2;
}

.navbar{
    position: fixed;
}

.navbar a:hover {
    border-bottom: 3px solid #F7F5F2;
    color: #0077b6;
    
  }


#sub{
    font-weight: lighter;
    font-size: small;
    color: darkgrey;
    
}


#logo{
    height:75px;
    width: 75px;
    padding: 10px;
    color: white;
}



.bg{
    background-color: #23395d;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:auto;
    height:100px;
    font-family: 'Montserrat', sans-serif;

   
}

.mainImg{
    width: 100%;
}

/* Summary */

.left-sum{
    font-family:'Montserrat', sans-serif;
}

.right-sum{
    font-family:'Montserrat', sans-serif;
}

.text{
    font-family:'Montserrat', sans-serif;
}
.thumbnail{
    flex:50%;
    padding: 5px;
}
.images{
    display:flex;
}

.container1{
    justify-content: end;
}

.sub-title{
    color: #23395d;
}
.bold{
    font-weight: bold;
    font-style: italic;
}
.btn{
    background-color: #0077b6; 
    border-color: #0077b6;
    font-family: 'Montserrat', sans-serif;

}
.btn:hover{
    background-color: white;
    color: #0077b6;
    border-color: #0077b6;
    border-width: 2px;

}
.buttonarea{
    text-align: center;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
}


.media{
    font-family: 'Montserrat', sans-serif;

}

.rounded-circle{
    justify-content: center;

}


.media-body {
    padding-left: 40px;
    align-content: center;
    vertical-align: middle;
    
}



.media-left{
    max-width: 400px;
    max-height: 300px;
    }


#projects-bg{
    background-color: #d9f1ff;
}

.about{
    background-color: #d9f1ff;
    background-size: auto;
    font-family: 'Montserrat', sans-serif;
    padding: 80px 250px 80px 250px;

}

#about-pic{
    max-width: 500px;
    height: auto;
}
.about-head{
    color:#23395d;
    text-align: center;
  
    letter-spacing: 5px;
}

#abouttext{
    color: #23395d;
}


@media(max-width:900px){
    .media-body{
        font-size: 12pt;
    }

    .media{
        display: flex;
        flex-direction: column;
    }

    .about{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .media-left {
        width:100%;
        height: 100%;
    }


    #about-pic{
        padding-left: 72.5px;
        width: 100%;
        height: auto;
    }

    .tophead{
        font-size: 16pt;
        font-family:'Montserrat', sans-serif;

    }

    .skills{
        padding: 80px 100px 80px 100px;
        display: none;
    }

}